<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<h1 style="text-align: center;">Spaghetti</h1>
<ion-item button (click)="openIngredients()">
  <img src="../../assets/img/spaghetti.jpg"> 
</ion-item>
<br>
<p style="padding: 15px;">I love spaghetti. A nice amount of filling pasta, complemented by sauce is so yummy. Pasta goes down so easily and you can make a ton of it for cheap.</p>
</ion-content>
