<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 style="text-align: center;">Pumpkin Bread</h1>
  <ion-item button (click)="openIngredients()">
    <img src="../../assets/img/Pumpkin-Bread.jpg"> 
  </ion-item>
  <br>
  <p style="padding: 15px;">Pumpkin bread is amazing. It's lots of sugar and pumpkin spice that just taste divine. You must have pumpkin bread be moist and soft for it to be the ambrosia of the gods.</p>
</ion-content>
